/* mobile */
.debtSummary {
    margin: 10px 0px;
    width: 80%;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.debtSummary li {
    vertical-align: middle;
    display: inline-block;
    width: 25%;
    padding: 20px;
}

.debtSummary h4 {
    text-decoration: underline;
    margin: 0;
}

.debtSummary p {
    margin: 10px 0px;
    font-size: 1em;
}

.middle {
    border-style: none solid;
}

/* tablet */
@media only screen and (min-width: 600px) {}

/* desktop */
@media only screen and (min-width: 900px) {}

@media (prefers-color-scheme: dark) {}

@media (prefers-color-scheme: light) {}