/* mobile */
.filter {
    width: 90%;
    text-align: right;
}

.filter img {
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
}

/* Tooltip container */
.filtertooltip {
    position: relative;
    display: inline-block;
    float: right;
}

/* Tooltip text */

.filtertooltip .filtertooltiptext {
    width: 350px;
    color: #000;
    text-align: center;
    padding: 10px 10px 20px 10px;
    border-radius: 0px 50px 50px 50px;
    font-size: .75em;
}

.filtertooltiptext form label {
    display: block;
    text-align: left;
    padding: 10px;
}

/* tablets */
@media only screen and (min-width: 600px) {
    .filter {
        width: 80%;
    }
}

/* desktop */
@media only screen and (min-width: 900px) {
    .filter {
        width: 70%;
    }

    /* Tooltip text */

    .filtertooltip .filtertooltiptext {
        background-color: rgba(0, 0, 0, 0.50);
        color: #fff;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 150%;
    }
}