/* mobile */
.input-form {
    position: relative;
    margin: auto;
    width: 90%;
}

.input-form label {
    padding: 10px;
    display: block;
    height: 60px;
    color: var(--pink);
}

.input-form label select,
.input-form label input {
    cursor: pointer;
    border: none;
    border-radius: 50px;
    margin: 10px;
    padding: 0px 10px;
    font: inherit;
    font-size: .75em;
    outline: none;
    border: 1px solid var(--pink);
    background-color: var(--teal);
    color: var(--pink);
}

.input-form button {
    float: right;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    margin: 10px 0px;
    padding: 10px 20px;
    font: inherit;
    background-color: var(--pink);
    color: var(--darkteal);
}

.error {
    color: red;
    font-size: .75em;
    margin: 10px;
}

.delete {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.delete:hover,
.delete:focus {
    text-decoration: none;
    transform: scale(1.5);
    cursor: pointer;
}

/* tablets */
@media only screen and (min-width: 600px) {
}

/* desktop */
@media only screen and (min-width: 900px) {
}

@media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: light) {
}