.month-input-form label select,
.year-input-form label select {
    cursor: pointer;
    border: none;
    border: 1px solid var(--teal);
    border-radius: 50px;
    margin: 10px;
    padding: 0px 10px;
    background-color: var(--pink);
    font: inherit;
    font-size: .75em;
    color: var(--teal);
    outline: none;
}